body {
  background-color: #eff2f1;
  font-family: Comfortaa-Regular;
}

@font-face {
  font-family: Comfoorta-Bold;
  src: url('../font/Comfortaa-Bold.ttf');
}

@font-face {
  font-family: Comfortaa-Regular;
  src: url('../font/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: Comfortaa-Light;
  src: url('../font/Comfortaa-Light.ttf');
}

.content_mid {
  width: 1140px;
  margin: 0 auto;
}
